

@{
    ViewData["Title"] = "Manage Inventory";
}
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <div class="col-md-10 offset-md-1" style="border: 1px solid #000;">
        <div class="text-center">
             
            <h2>Manage Inventory</h2><br /><br />
        </div>

        <a class="btn btn-outline-info" asp-controller="Admin"
           asp-action="AddInventory">
            <i class="fas fa-fw  fa-book"></i>
            <span>Add Inventory</span>
        </a>
        <br /><br />
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>Model Image</th>
                    <th>Model Name</th>
                    <th>Model Description</th>
                    <th>SKU</th>
                    <th>WEIGHT</th>
                    <th>Base Price</th>
                    <th>Max Price</th>
                    <th>Price</th>
                    <th>Status</th>
                    <th>Actions</th>

            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img class="rounded-circle" src="@item.ModelImage" alt="img" style="max-width: 150px" />
                        </td>
                        <td class="align-middle">
                            @item.ModelName
                        </td>
                        <td class="align-middle">
                            @item.ModelDescription
                        </td>
                        <td class="align-middle">
                            @item.SKU
                        </td>
                        <td class="align-middle">
                            @item.Weight.ToString("0.00") KGS
                        </td>
                        <td class="align-middle">
                            Rs @item.BasePrice.ToString("N2")
                        </td>
                        <td class="align-middle">
                            Rs @item.MaxPrice.ToString("N2")
                        </td>
                        <td class="align-middle">
                            Rs @item.Price.ToString("N2")
                        </td>
                        <td class="align-middle">
                            @if (item.IsSold)
                            {
                                <text>SOLD</text>
                            }
                            else
                            {
                                <text>AVAILABLE</text>
                            }
                        </td>

                        <td class="align-middle">
                            <a class="btn btn-danger text-white" onclick="Delete(@item.Id)"><i class="bi bi-trash"></i>Delete </a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
</div>

@*@await Html.PartialAsync("_CreateItem", "Cinemas") *@

<script>
    function Delete(itemId) {
        // Confirm deletion with SweetAlert
        Swal.fire({
            title: 'Are you sure?',
            text: 'You will not be able to recover this inventory item!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                // If confirmed, make an AJAX request to delete the item
                $.ajax({
                    url: '/Admin/DeleteAircraft', // Change the URL as needed
                    type: 'POST',
                    data: { aircraftId: itemId },
                    success: function (response) {
                        if (response.success) {
                            // Reload the page or update the table as needed
                            location.reload();
                        } else {
                            // Display an error message if deletion fails
                            Swal.fire({
                                title: 'Error!',
                                text: 'Cannot delete an item that already have orders',
                                icon: 'error',
                                confirmButtonText: 'OK'
                            });
                        }
                    },
                    error: function () {
                        // Display an error message if the AJAX request fails
                        Swal.fire({
                            title: 'Error!',
                            text: 'An error occurred while processing the request.',
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    }
                });
            }
        });
    }
</script>