@model Raythos_Aerospace.Models.entities.OrderEntity

@{
    ViewData["Title"] = "Update Order Status";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <div class="text-center">
            <br /><br />
            <h2>Update Order Status</h2>
        </div>

        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Sorry!</b> - @TempData["Error"] </span>
            </div>
        }

        <div class="row">
            <div class="col-md-8 offset-2" style="border: 1px solid #000;">
                <form id="myForm">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group font-weight-bold">
                        <label class="control-label">Order ID: @Model.Id</label>&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                    <div class="form-group font-weight-bold">
                        <label class="control-label">Order Date: @Model.OrderDate.ToString("dd-MM-yyyy")</label><br />
                    </div>
                    <div class="form-group font-weight-bold">
                        <label class="control-label">Aircraft Model: @(Model.AircraftModel != null ? Model.AircraftModel.ModelName : "N/A")</label>&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                    <div class="form-group font-weight-bold">
                        <label class="control-label">Price: @Model.Price</label>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label class="control-label">Order Status</label>
                            <select class="form-control" id="orderStatus" name="orderStatus">
                                <option value="pending" selected="@Model.OrderStatus == " pending"">Pending</option>
                                <option value="processing" selected="@Model.OrderStatus == " processing"">Processing</option>
                                <option value="readyToDispatch" selected="@Model.OrderStatus == " readyToDispatch"">Ready To Dispatch</option>
                                <option value="shipped" selected="@Model.OrderStatus == " shipped"">Shipped</option>
                                <option value="delivered" selected="@Model.OrderStatus == " delivered"">Delivered</option>
                            </select>
                            <span class="text-danger"></span>
                        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <div class="form-group">
                            <label class="control-label">Estimated Delivery Date</label>
                            <input class="form-control" type="date" value="@Model.EstimatedDeliveryDate.ToString("yyyy-MM-dd")" required />
                            <span class="text-danger"></span>
                        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>

                    <div class="form-group">
                        <input class="btn btn-outline-success btn-block bg-info text-white" type="submit" onclick="update()" value="Update" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('myForm').addEventListener('submit', function (e) {
        e.preventDefault(); // Prevent the default form submission

        // Display Sweet Alert
        Swal.fire({
            title: 'Order Status Updated Successfully !',
            icon: 'success',
            confirmButtonText: 'OK'
        });
    });
</script>
